@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  font-family: 'Secular One', sans-serif, 微軟正黑體;
  box-sizing: border-box;
}


.external {
  overflow: hidden;
  height: 550px;
  margin-left: -2rem;
  margin-top: 2rem;
  box-shadow: 0;

}

.scroll {
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: top right;
  margin: 2rem;
  
}

.pesudo {
  width: 480px;
  height: 3000px;
}

.content {
  position: absolute;
  top: 0vh;
  left: 100vh;
  width: 3000px;
  height: 480px;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
  padding: 1rem;
  display: flex;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

/* ======================================= */
.sign{
  position: fixed;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.imgblock {
  position: relative;
  width: 10%;
  height: 10%;
  margin-left: 4rem;
  margin-top: 0.2rem;
  transition: 1s;
}

.imgblock:hover{
  transform: scale(1.1);
  transition: 1s;
  margin: 0rem 8rem;
}

.type1 {
  position: absolute;
  top: -20px;
  left: -40px;
}

.type2 {
  position: absolute;
  top: -20px;
  left: 240px;
}
.type3 {
  position: absolute;
  top: 380px;
  left: -30px;
}
.type4 {
  position: absolute;
  top: -20px;
  left: 250px;
}

.end{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  font-weight: 900;
  font-size: 24px;
}

