@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
html{
  overflow-x: hidden;
}

* {
  font-family: 'Secular One', sans-serif, 微軟正黑體;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

html{
  scroll-behavior: smooth;
}

#intro {
  display: none;
}
#contactbar{
  display: none;
}


/* MOUSE */
#contact:hover{
  cursor: pointer;
}

@keyframes circleRo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

#mouse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-image: url(../img/youarehere.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  transition-timing-function: ease-out;
  animation: circleRo 16s linear 0s infinite;
  ;
  z-index: -1;
}


/* ABOUT SECTION*/
.brackets{
  font-size: 15rem;
  transform: scaleY(1.8);
  /* transform: scaleX(1); */
  font-family: Impact, 'Secular One', sans-serif;
  text-align: center;
  margin-top: 13rem;
  position: relative;
  /* top: 100px; */
  transition: 100ms;
}

.b-left{
position: absolute;
left: 100px;
}
.b-right{
position: absolute;
right: 100px;
}

.mypic1{
  right: -20px;
  transform: rotate(380deg);
  transform: translateX(150px);
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.mypic2{
  transform: rotate(-20deg);
  transform: translateX(-150px);
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#pic-box{
  height: 70vh;
}

@keyframes pic1 {
  0%{
  }
  100%{
    transform: rotate(340deg);
  }
}

@keyframes pic2 {
  0%{
  }
  100%{
    transform: rotate(340deg);
    transform: rotate(10deg);
  }
}

/* @scroll-timeline pic-rotate {
    source: selector("#pic-box");
} */



@media only screen and (max-width: 576px) {
  .brackets{
    display: none;
  }
  #pic-box{
    height: 30vh;
  }
}

.tool a img{
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 1200px) {
  .tool a img{
    width: 30px;
    height: 30px;
  }

}

/* PORTFOLIO SECTION*/
.title {
  font-size: 4rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 8rem;
    margin-top: 2rem;
    padding-bottom: 0rem;
  }
}


.subtitle {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

#active {
  border: 1px solid black;
  border-bottom: 1px solid rgb(245, 244, 243);
  color: rgb(255, 187, 0);
}

/* 按鍵效果 */
a {
  text-decoration: none;
  transition: 0.2s color linear !important;
  transition: 0.1s border-color linear !important;
}

a:hover {
  color: rgb(255, 187, 0) !important;
  border-color: rgb(61, 61, 255) !important;
}

/* NAV */
.name {
  font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
  font-size: 8rem;
}

.logo {
  border-right: 1px solid black;
}

@media only screen and (max-width: 1200px) {
  .name {
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
  }
}

@media only screen and (max-width: 576px) {
  .name {
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
  }

  .logo {
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    border: 0px;
  }
}

.nav-tabs a,
b {
  font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
}

/* 打字動畫 */
@keyframes typing {

  0% {
    width: 15rem
  }

  35%,
  45% {
    width: 6rem
  }

  80%,
  100% {
    width: 15rem
  }
}

.typing {
  width: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: .05em solid;
  animation: typing 5s steps(15) infinite,
    caret 1s steps(1) infinite;
}

@keyframes typingA {

  0% {
    width: 21rem
  }

  35%,
  45% {
    width: 14.5rem
  }

  80%,
  100% {
    width: 21rem
  }
}
@media only screen and (min-width: 576px) {
.typingA {
  width: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: .05em solid;
  animation: typingA 5s steps(15) infinite,
    caret 1s steps(1) infinite;
}
}
/* marquee */
.marquee {
  overflow: hidden;
  display: block;
}

.marquee::before {
  display: block;
  white-space: pre;
  content: attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text);
  width: fit-content;
  transform: translate3d(-2%, 0, 0);
  will-change: transform;
}


@media (prefers-reduced-motion: no-preference) {
  .marquee::before {
    animation: marquee 6s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(-2%, 0, 0);
  }

  100% {
    transform: translate3d(calc(-2% - 5% - 1px), 0, 0);
  }
}

.marquee {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: clamp(5rem, 5vh, 5rem);
  flex: 1;
  font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
  font-weight: 1000;
}

.marquee--mantis {
  /* background: rgb(245, 244, 243); */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* 進場動畫 */
@keyframes close {
  0% {
    height: 0vh;
  }

  100% {
    height: 100vh;
  }
}

.fg {
  position: absolute;
  top: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 10;

}

.open {
  animation-name: close;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}


/* GO DOWN */
.godown {

  position: relative;
  animation-name: godown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes godown {
  0% {
    top: -15px;
    opacity: 0;
  }

  50% {
    top: 10px;
    opacity: 1;
  }

  100% {
    top: -15px;
    opacity: 0;
  }
}


/* 項目照片放大縮小 */
a img,
.intPic {
  transform: scale(1);
  transition: 1s;
}

a img:hover,
.intPic:hover {
  transform: scale(1.05);
  transition: 1s;
  overflow: hidden;
}

/* 項目說明文字 */
.mycard:hover,
.intPic:hover {
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
}

.boxContent {
  border-spacing: 0;
  border-collapse: separate;
  font-size: 0.8rem;
}

tr,
td {
  border: 1px solid black;
}

tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

b {
  font-size: 2rem;
}

@media only screen and (max-width: 576px) {
  table {
    transform: scale(0.8);
    height: 100px;
    /* position: relative;
    right: 10%;
    text-align: left; */
  }
}

@media only screen and (max-width: 820px) {
  table {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1200px) {
  div b {
    transform: scale(0.7);
  }
}

hr {
  border: 1px solid black;
}

/* GO TOP / DOWN */
@media only screen and (max-width: 700px) {
  
.side-bar{
    display: none;
  }
}

.side-bar{
  position: fixed;
  bottom: 15rem;
  right: 3rem;
  font-size: small;
}
.go{
  width: 30px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
}
.go a{
  color: rgb(224, 224, 224);
  transition: 1s;
} 
.go:active{
  transform: scale(0.9);
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.3);
}

/* BTN */
@media only screen and (max-width: 700px) {
#chgL{
  text-align: center;
  width: 2rem;
  width: 100%;
}

#chgL a{
  text-align: center;
  font-size: smaller;
}
}