@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    font-family: 'Secular One', sans-serif;
}

#active {
  border: 1px solid black;
  border-bottom: 1px solid rgb(245, 244, 243);
}

